 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am currently attending Boston University in pursuit of my Bachelor of Science in Computer Engineering. My concentration is in Technology Innovation, so that I can better understand the relationship technology has with our society. </p>
                </div>
                <div class="col-lg-4">
                    <p>I'm passionate about the intersection that technology has with business and how to best utilize technologies in order to further a business. After college I look forward to developing technologies that help change the way society works and interacts.  </p>
                </div>
              
            </div>
        </div>
    </section>
